
html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  min-width: 350px;
  height: 100%;
 
 

  h1,
  h2,
  h3 {
    font-family: $font-headings;
  }
  a {
    text-decoration: none;
    color: $colour-secondary;
  }
}
p {
  line-height: 1.5;
}
.fas{
  z-index: 11;
 padding-top: 10px;
 padding-left: 10px;
 position: fixed;
 top: 10px;
 color:$colour-secondary;
visibility: hidden;

}
.btn.back {
  margin-top: 10em;
}
.menu-btn {
  position: fixed;
  padding-top: 10px;
  z-index: 11;
  right: 25px;
  top: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.btn-line {
  border-radius: 5px;
  width: 25px;
  height: 4px;
  margin: 0 0 5px 0;
  background: $colour-primary;
  transition: all 0.5 ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
  .btn-line:nth-child(1) {
    transform: rotate(44deg) translate(6px, 6px);
  }
  .btn-line:nth-child(2) {
    opacity: 0;
  }
  .btn-line:nth-child(3) {
    transform: rotate(-44deg) translate(7px, -6px);
    
  }
}




.container {
    min-height: 100%;
    position: relative;
}
h1 {
font-size: 1.953em;

}
h2{
    font-size: 1.563em;
    margin: 1em;
}
h3 {
    font-size:1.25em;
}
p {
    font-size: 1em;
}

.error {
    background-color: $colour-validation-error;
  }
  .success {
    background-color: $colour-validation-success;
  }
  .active {
    color:$colour-primary-background;
  }

.btn {
  margin: 0.5em;
  padding: 0.5em;
  border-style: none;
  background-color: $colour-primary;
  cursor: pointer;
}

#logout {
  border: 1px solid #eaeaea;
  background: transparent;
  color: $colour-primary;
}
input,  textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.search {
  width: 80%;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.login-page button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  
}