.message-container {
    display: flex;
}

.hero-section {
    position: relative;
}

.img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.hero-img,
.product-banner {
  width: 100%;
  
  
}

.container_img,
.product-banner {
  position: relative;
}

.primary.product-CTA {
position: absolute;
  padding: 5px;
  margin: 0;
  border: 1px solid white;
left: 50%;
top: 45%;
  
}



.featured-product-container,
.container_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $colour-primary-background;
  padding-top: 1em;

}
.search {
    margin: 1em;
    border-radius: 2px;
    
}

.container_products,
.container_cart,
.featured-product-container {
    max-width: 1100px;
    margin: 0 auto;
}
.container_cart {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: $colour-primary-background;
    
    

}
.container_cart-item {
  display: flex;
  flex-flow:  row wrap;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid rgba(87, 87, 87, 0.192);
}
.container_cart-item * {
    padding: .2em;
}
.container_cart-item.total-price  {
    align-self: center;
    border-bottom: none;
    margin: 0;
    padding: 0;
}



.item-price {
  display: flex;
  align-items: center;
}

.container_product-detail_item {
  margin:  0 auto;
  max-width: 80%;
  margin-top: 2em;

}

.product-info {
  max-width: 700px;
}
.container.login {
  display: flex;

  align-items: center;
}
.login-page, form {
  background-color: $colour-primary-background;
  padding: 1em;
  padding-bottom: 2em;
  margin: 0 auto;
  max-width: 800px;
h1 {
  padding: 1em;
}
button {
  padding: 1em;
}
 
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], form button {
    width: 100%;
    margin-top: 0;
  }
  .login-page button {
    margin-top: 1em;
  }
}