$font-primary: "open sans", sans-serif;
$font-headings: "montserrat", sans-serif;

$colour-primary: rgb(255, 115, 0);
$colour-secondary: rgb(0, 0, 0);
$colour-primary-background: #eaeaea;

$colour-validation-error: red;
$colour-validation-success: green;